<section class="gallery-main" style="background-color: black;padding-bottom:20px">
  <h1>BombSquad Gallery</h1>
  <div class="images">
    <div class="load-more">

      <mat-icon (click)="scrollUp()" *ngIf="startPoint!=0">keyboard_arrow_up</mat-icon>
    </div>
    <div class="gallery">
      <div *ngFor="let image of currentimages" class="gallery-item">
        <img [src]="CDN+image.url" [alt]="image.alt" (click)="openOverlay(image)" loading="lazy">
      </div>
    </div>
    <div class="load-more">
      <mat-icon (click)="scrollDown()" *ngIf="endPoint!= images.length">keyboard_arrow_down</mat-icon>
    </div>
  </div>
  <div class="overlay" *ngIf="showOverlay">
    <div class="overlay-content">
      <img [src]="CDN+selectedImage.url" [alt]="selectedImage.alt">
      <span class="close-btn" (click)="closeOverlay()">&times;</span>
    </div>
  </div>
</section>