<div class="main background">
  <div class="content">
    <div class="heading">
      <h1>Download BombSquad and Its Companion Apps</h1>
    </div>
    <div class="bombsquad-app">
      <h2>BombSquad Game: <div class="icon"><img src="assets/img/icon-150x150.png" alt="Bombsquad icon"></div>
      </h2>
      <p>Explosive Multiplayer Action for Multiple Platforms
        BombSquad is an adrenaline-pumping multiplayer game that offers explosive fun on various platforms. Whether you
        own an
        Android device (version 5 and above), Windows PC, Linux, or MacBook, you can join the action-packed mayhem of
        BombSquad.
        The latest version of BombSquad is readily available on the Google Play Store and the Amazon App Store, ensuring
        easy
        access for Android users. For Windows, Linux, and MacBook users, you can download the latest test build from the
        official BombSquad website at https://ballistica.net/downloads.</p>
      <div class="thumbnail"><img mat-card-image src="assets/img/bombsquad-home.png" alt="Bombsquad game "
          class="mat-card-image"></div>
      <div class="downloads">
        <h3>Download</h3>
        <button mat-button class="dwn-btn"><a
            href="https://play.google.com/store/apps/details?id=net.froemling.bombsquad"><img
              src="assets/img/gplay-badge.png" alt=""></a></button>
        <button mat-button class="dwn-btn"><a href="http://appstore.com/mac/bombsquad"><img
              src="assets/img/mac-badge.webp" alt=""></a></button>
        <button mat-button class="dwn-btn"><a
            href="http://www.amazon.com/gp/product/B00E7NAVZA/ref=mas_pm_bombsquad"><img
              src="assets/img/amazon-badge.png" alt=""></a></button>
        <button mat-button class="dwn-btn"><a
            href="https://files.ballistica.net/bombsquad/builds/BombSquad_Windows_1.7.23.zip"><img
              src="assets/img/windows-badge.png" alt=""></a></button>
        <button mat-button class="dwn-btn"><a
            href="https://files.ballistica.net/bombsquad/builds/BombSquad_Linux_x86_64_1.7.23.tar.gz"><img
              src="assets/img/linux-badge3.webp" alt=""></a></button>
      </div>
    </div>
    <br>
    <hr><br>
    <app-banner></app-banner>
    <br>
    <hr><br>
    <div class="bombsquad-remote">
      <h2>BombSquad Controller <div class="icon"><img src="assets/img/bsremote-150x150.png" alt=""></div>
      </h2>
      <p> Transform Your Mobile Devices into Gaming Controllers
        Don't have enough controllers for your BombSquad multiplayer sessions? No worries! BombSquad offers a convenient
        solution with its free BombSquad Remote app. Simply download the BombSquad Remote app on your Android or iOS
        device and
        transform it into a fully functional gaming controller. With intuitive touch controls, you can enjoy the
        thrilling
        multiplayer battles with your friends and family, even if you're short on physical controllers.</p>
      <div class="thumbnail">
        <img src="assets/img/bombsquad-remote.jpg" alt="BombSquad remote" class="mat-card-image">
      </div>
      <div class="downloads">
        <h3>Download</h3>
        <button mat-button class="dwn-btn"><a
            href="https://play.google.com/store/apps/details?id=net.froemling.bsremote"><img
              src="assets/img/gplay-badge.png" alt=""></a></button>
        <button mat-button class="dwn-btn"><a
            href="http://itunes.apple.com/us/app/bombsquad-remote/id416471850?ls=1&mt=8"><img
              src="assets/img/ios-badge.webp" alt=""></a></button>
        <button mat-button class="dwn-btn"><a
            href="https://www.amazon.com/Eric-Froemling-BombSquad-Remote/dp/B00BLYPDJM/"><img
              src="assets/img/amazon-badge.png" alt=""></a></button>
      </div>
    </div> <br>
    <hr><br>
    <div class="bombsquad-vr">
      <h2>BombSquad VR <div class="icon"><img src="assets/img/icon_vr-150x150.png" alt="bombsquad vr"></div>
      </h2>
      <p>
        Immerse Yourself in Explosive Virtual Reality Battles
        Take your BombSquad experience to the next level by diving into virtual reality with BombSquad VR. With virtual
        reality
        headsets such as Oculus Rift, HTC Vive, or Valve Index, you can step into the virtual arena and engage in
        explosive
        battles with your enemies. Experience the thrill of BombSquad like never before as you throw bombs, strategize
        with your
        team, and conquer opponents in a fully immersive VR environment.
      </p>
      <div class="thumbnail"><img src="assets/img/bombsquad-vr.webp" alt="bombsquad vr " class="mat-card-image"></div>
      <div class="downloads">
        <h3>Download</h3>
        <button mat-button class="dwn-btn"><a
            href="https://play.google.com/store/apps/details?id=net.froemling.bombsquadcb"><img
              src="assets/img/gplay-badge.png" alt=""></a></button>
      </div>
    </div>
    <br>
    <hr><br>
    <app-banner></app-banner>
    <br>
    <hr><br>
    <div class="bombsquad-server">
      <h2>BombSquad Server</h2>
      <p>Host Your Own BombSquad Server
        For those who want to create their own BombSquad multiplayer experience, BombSquad offers server scripts that
        enable you
        to host your own server. Whether you're running Windows, Linux, macOS, or even Raspberry Pi, these server
        scripts
        provide the necessary tools and resources to set up, configure, and manage your custom BombSquad server. Hosting
        your
        own server allows you to customize gameplay settings, create unique game modes, and invite friends for epic
        battles. Know more about BombSquad Server Hosting : <a
          href="https://bombsquad-community.web.app/blog/host-bombsquad-server-free">BombSquad Server Hosting Guide</a>
      </p>
      <div class="downloads">
        <h3>Download</h3>
        <a
          href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Linux_Arm64_1.7.23.tar.gz">BombSquad_Server_Linux_Arm64_1.7.23.tar.gz</a>
        <br>
        <a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Linux_x86_64_1.7.23.tar.gz">
          BombSquad_Server_Linux_x86_64_1.7.23.tar.gz</a> <br>
        <a
          href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Mac_Arm64_1.7.23.tar.gz">BombSquad_Server_Mac_Arm64_1.7.23.tar.gz</a>
        <br>
        <a
          href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Mac_x86_64_1.7.23.tar.gz">BombSquad_Server_Mac_x86_64_1.7.23.tar.gz</a>
        <br>
        <a
          href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_RaspberryPi_1.7.23.tar.gz">BombSquad_Server_RaspberryPi_1.7.23.tar.gz</a>
        <br>
        <a
          href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Windows_1.7.23.zip">BombSquad_Server_Windows_1.7.23.zip</a>
      </div>
    </div> <br>
    <hr><br>
    <div class="more">
      Download and Join the Explosive Fun <br>
      Download BombSquad and its companion apps today to experience the explosive multiplayer action across different
      platforms. Whether you're playing on your favorite Android device, using your mobile as a controller, immersing
      yourself
      in VR battles, or hosting your own server, BombSquad guarantees endless fun for gaming enthusiasts. Prepare for
      intense
      battles, strategic gameplay, and lots of laughter as you embark on the BombSquad adventure. Get ready to detonate
      the
      competition and emerge victorious in this thrilling multiplayer experience!
    </div>
  </div>
</div>
