<div class="main">
  <div class="heading">
    <h1>Fully Managed BombSquad Server Hosting - Free Trial !</h1>
  </div>
  <div class="content">
    <article>
      <p>
        Unleash the full potential of your gaming experience with our
        cutting-edge, fully managed BombSquad game server hosting. We take pride
        in our comprehensive solution that not only empowers you to enjoy your
        favorite game without any technical fuss but also comes absolutely free
        of charge for a limited period.
      </p>

      <p>
        BombSquad, the action-packed game filled with thrilling mini-games
        ranging from capture-the-flag to hockey, has a reputation for its
        gripping multiplayer experience. To enhance this experience, a robust
        and secure game server is crucial. And that's where our fully managed
        game server hosting comes into play.
      </p>
      <p>
        Our server hosting service eliminates the need for technical know-how
        from your end. We know that setting up and maintaining a server can be a
        daunting task, especially for those who just want to focus on the game.
        Our fully managed game server hosting solution addresses these concerns,
        allowing you to host servers without delving into the intricacies of
        server management.
      </p>
      <app-banner></app-banner>
      <p>
        We handle everything from server setup to maintenance, performance
        tuning, security, and even managing server scripts and plugins. Our team
        of dedicated professionals works round the clock to ensure a smooth,
        lag-free gaming experience for you and your friends.
      </p>
      <p>
        On top of this, we provide an intuitive and user-friendly control panel
        that lets you customize your server settings as per your preferences, if
        you wish. You can kick, ban or mute players, change playlist, or change
        game modes — all with just a few clicks.
      </p>
      <p>
        And here's the icing on the cake — our fully managed BombSquad game
        server hosting is available at absolutely no cost for a limited time
        period! We believe in our service quality so strongly that we're willing
        to offer you a taste of the premium experience, for free.
      </p>
      <p>
        In conclusion, our fully managed BombSquad game server hosting is a
        one-stop solution for avid gamers who wish to dive straight into the
        action without worrying about server management or any technical
        efforts. Leverage our industry-leading game server hosting today, and
        transform your BombSquad gaming experience. Hurry up, though, as this
        free offer is available for a limited time!
      </p>
      <p>
        Remember, your ultimate gaming experience is just a click away. Don't
        miss out on this fantastic opportunity to take your BombSquad experience
        to the next level. Let us handle the technicalities while you focus on
        leading your team to victory!
      </p>
      <app-banner></app-banner>
      <h2>Steps to get your Free Trial Server.</h2>

      <ul>
        <li>
          Step 1) Join our discord Server
          <a href="https://discord.gg/ucyaesh">Discord Invite</a>. Goto
          #bombsquad-bot-passcode channel of this server.
        </li>
        <li>
          Step 2) Enter command /passcode in that channel only. A bot will
          respond you with a link(actually this same page but with passcode and
          password) that contains actual passcode to select server, and a
          password to access control panel of that server.
          <br />
          <div class="secrets" *ngIf="passcode">
            Your secret passcode is : {{passcode}} <br />
            Server Manager password is : {{password}} <br />
            Server valid for : {{duration}} minutes
          </div>
          <div *ngIf="!passcode">
            Passcode will appear here , if you opened correct link from discord
            bot.
          </div>
          {{message}}
        </li>
        <li>
          Step 3) Now open public party list in your game and search 'CREATE
          FREE SERVER', select a server with lowest ping. (You need to wait if
          you cant see any server in list, maybe some other people using it
          right now). After joining any of those servers , enter you passcode (4
          digit number shared in Step 2).
        </li>
        <li>
          Step 4) Server will be configured in background , and will restart
          when done. now you can see a server name with your account Id.
          Example: "Android45345435's Server". Click stats button of this server
          , and goto Admin tools to change server name and other server
          settings. Use password shared in Step 2.
        </li>
        <li>Step 5) Done! join server and make some noise.</li>
      </ul>
      <p>
        Remember to follow common human laws and don't do any such act , that we
        need to ban you or close this free servers service.
      </p>
      <p>
        This free server service is opened with love for needy people like you!
        maintainence is in your hand , don't do any foolish act and dont let
        others to distroy this amazing service. Report issue with us on time.
        Have fun.
      </p>
    </article>
    <app-banner></app-banner>
  </div>
</div>
